body{
    background-color: #0A0A0C;
}

.nav-wrapper{
    background-color: #19191C;
}

#lol-logo{
    width: 140px;
    height: 45px;
    margin-left: 40px;
    margin-top: 7px;
}

.nav-wrapper li a{   
    font-size: 20px;
    padding:10px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #9C865A;
    
}

h1{
    font-size: 24px;
    color:#D0BFD8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}

#text.col.s12.m6.l6{
    font-size: 18px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color:#D0BFD8;
    margin-top: 20px;
}

#page-image.responsive-img.col.s12.m6.l6{
    
    height: 250px;
    margin-top:20px;
}

#start{
    float: right;
    margin:-20px;
    margin-right: 20px;
    background-color: #9C865A;
    border-radius: 5px;
    width: 130px;
    text-align: center;
}

#start a{
    color:#D0BFD8;
    
}

.page-footer{
    height: 60px;
    background-color: #19191C;
    margin: 10px;
    margin-top: 40px; 
} 

#page2{
    display: none;
}
#page4{
    display: none;
}


#root, #root1{
    
    color:#9C865A;
}

input.select-dropdown.dropdown-trigger{
    color:#9C865A;
    width: 200px;
    margin-left: 5px;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
}
   

div.card-image{
    width: 150px;
    height: 170px;
    
}

.card{
    border-radius: 15px;
    margin:8px;
    margin-bottom: 10px;
    height: 230px;
    width: 170px;
    
}

.card .card-reveal {

    padding: 12px;
    top: 107%;
    height: 110%;
}
img.responsive-img{
    width: 170px;
    height: 130px;
}

h2{
    font-size: 30px;
    color:#9C865A;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-align: center;
}

.waves-effect.waves-light.btn.modal-trigger{
    background-color: beige;
    
}
.link{
    color: cadetblue;
    cursor: pointer;

}
.link2{
    
    cursor: pointer;
    float:right;
    margin-right: 25px;
    margin-top: 15px;
    font-size: 30px;
    color: solid black;
}
.card.large {
    width: 880px;
    height: auto;
}

h3,h4{
    font-size: 24px;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    

}
#image-info, #info-champion{
margin: 10px;
padding: 10px;
}



#image-info, #champion-name{
    float: left;
  }
 #champion-name{
    margin-left: 250px;
 }
 




#info-table{
    width: 400px;
    height: 250px;
    float: right;
    margin-right: 150px ;
}

.sidenav-overlay{
    z-index: 995;
}

.responsive-image{
    width: 200px;
    height:200px;

}