body,.nav-wrapper{
    background-color: #0A0A0C;
}

#lol-logo{
    width: 140px;
    height: 50px;
    margin-left: 50px;
    margin-top: 5px;
}

.nav-wrapper li a{   
    font-size: 20px;
    padding:10px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #9C865A;

    margin-right: 20px;
}

h1{
    font-size: 24px;
    color:#D0BFD8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#text.col.s12.m6.l6{
    font-size: 18px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color:#D0BFD8;
    margin-top: 10px;
}

#page-image.responsive-img.col.s12.m6.l6{
    height: 300px;
    margin-top:20px;
}

#start{
    float: right;
    margin-right: 20px;
    background-color: rgb(141, 113, 56);
    border-radius: 5px;
    width: 130px;
    text-align: center;
}

#start a{
    color:#D0BFD8;
}

.page-footer{
    height: 60px;
    background-color: #19191C;
    margin: 10px;
    margin-top: 40px; 
} 

#page2,#page4,#page5{
    display: none;
}

#root{
    color:#9C865A;
}

input.select-dropdown.dropdown-trigger{
    color:#9C865A;
    width: 200px;
    margin-left: 5px;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.card-image{
    width: 150px;
    height: 170px;
}

.card{
    border-radius: 15px;
    margin:8px;
    margin-bottom: 10px;
    height: 230px;
    width: 170px;
}

.card .card-reveal {
    padding: 12px;
    top: 107%;
    height: 110%;
}

img.responsive-img{
    width: 170px;
    height: 130px;
}

h2{
    font-size: 28px;
    color:#9C865A;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-align: center;
}

.waves-effect.waves-light.btn.modal-trigger{
    background-color:#9C865A;
}

.link{
    color: cadetblue;
    cursor: pointer;
}

.link2{
    cursor: pointer;
    float:right;
    margin-right: 25px;
    margin-top: 15px;
    font-size: 30px;
    color: solid black;
}

.card.large {
    width: 880px;
    height: auto;
    margin:40px;
    margin-left:-10%;
}

h3{
    font-size: 24px;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#image-info, #info-champion{
margin: 10px;
padding: 10px;
}

#image-info, #champion-name{
    float: left;
}

 #champion-name{
    margin-left: 250px;
}
 
#info-table{
    width: 400px;
    height: 250px;
    float: right;
    margin-right: 150px ;
}

.sidenav-overlay{
    z-index: 995;
}

.responsive-image{
    width: 200px;
    height:200px;
    margin-top:40px;
    margin-left: 40px;
}

ul#mobile-demo.sidenav{
    background-color: #19191C;
    width: 200px;
    
}

#mobile-demo.sidenav li a{
    color: #9C865A;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
div.col.l9{
    margin-top: 40px;
}
#myChart{
     width:150px;
     height:7000px;
     
}
#result-table{
    color:#D0BFD8;
}

.canvasmyChart{
    background-color: blue;
}

#search{
    width: 130px;
    height: 30px;
    background-color:white;
    color:#9C865A;
    -webkit-border-radius: 58px;
    -moz-border-radius: 30px;
    border-radius: 8px;
  }

a{
    height: 5px;  
}
@media only screen
and (max-width : 480px) {
    .card.large { 
        width:320px;
        margin-left:3%;
    }
    
    #champion-name {
        font-size:18px;
        margin-left:0%;
    }

    h4{
        font-size:18px;
    }        
    span.link2{
        font-size: 15px;
        margin-right: 15px;
        margin-top:10px
    }
    h2{
        font-size: 20px;
    }
    img.responsive-image{
        width: 150px;
        height:150px;
        margin-top:20px;
        margin-left:5px;
    }
    #search{
       display: none;
      }
}

@media only screen
and (min-width: 480px)and(max-width: 767px) {
    .card.large { 
        width:400px;
        margin-left:-60%;
    }
}