body{
    background-color: #0A0A0C;
}

.nav-wrapper{
    height: 100px;
    background-color: #19191C;
}

#lol-logo{
    width: 180px;
    height: 70px;
    margin-top: 15px;
}

#nav-mobile li a{   
    font-size: 20px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #9C865A;    
}

h1{
    font-size:19px;
    color:#D0BFD8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#text-page1{
    font-size: 18px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color:#D0BFD8;   
    margin-top: 20px;
    margin-left: 80px;
}

#page1-image{
    width: 530px;
    height:300px;
    margin-top: 20px;
    margin-left:20px;
} 

#start a{
    font-size: 20px;
    color:#9C865A;
    float: right;
    margin-right: 60px;
    margin-top: 20px;
}

#footer{
    height: 70px;
    background-color: #19191C;
    margin-top: 20px;
    padding: 30px;
    
} 

#page2{
    display: none;
    
}


#root{
    color:#9C865A;
}

input.select-dropdown.dropdown-trigger{
    color:#9C865A;
    width: 200px;
    margin-left: 5px;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
}
   

div.card-image{
    width: 150px;
    height: 170px;
    
}

.card{
    border-radius: 15px;
    margin:15px;
    margin-bottom: 10px;
    height: 230px;
    width: 160px;
    
}

.card .card-reveal {
    padding: 12px;
    top: 107%;
    height: 110%;
}

img.responsive-img{
    width: 160px;
    height: 130px;
}

h2{
    font-size: 30px;
    color:#9C865A;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-align: center;
}

waves-effect.waves-light.btn.modal-trigger{
    background-color: beige;
    
}

.link{
 color: cadetblue;
 cursor: pointer;
}

.link2{
    
    cursor: pointer;
    float:right;
    margin-right: 25px;
    margin-top: 15px;
    font-size: 30px;
    color: solid black;
}

.card.large {
    width: 880px;
    height: auto;
    background-color:rgb(238, 234, 225);
}

h3,h4{
    font-size: 30px;
    color:#0A0A0C;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}


#image-info, #info-champion{
    margin: 10px;
    padding: 10px;
}

#image-info{
    width:250px;
    height:250px;
}

#image-info, #champion-name{
    float: left;
  
}
#champion-name{
    margin-left: 250px;
}

#info-table{
    width: 400px;
    height: 250px;
    float: right;
    margin-right: 150px ;
}

#page4{
    display: none;
}

#cuadro1 {
    display: inline-block; 
    border: 2px solid #D0BFD8;
}

.row{
    grid-row-gap: -10px;
    color:#9C865A;
    
}

#result-table{
    color: #D0BFD8;
}

.responsive-image{
    width:230px;
    height:230px;
    margin-top:30px;
    
}

ul#menu-responsive.sidenav{
    background-color: #19191C;
    width: 200px;
}

#menu-responsive.sidenav li a{
    color: #9C865A;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;

}

/*div.col.l9{
    margin-top: 30px;
    margin-left: 20px;
}*/

/*@media only screen and (max-width : 400px) {

#lol-logo{

    width: 150px;
    height: 50px;
    margin-left: 10px;
}

#page1-image{
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

#start a{
    font-size: 15px;
    color:#9C865A;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

#text-page1{
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}

.nav-wrapper{
    margin: 10px auto;
}  

img.responsive-img{
    width: 120px;
    height:80px;
}

.card{
    border-radius: 15px;
    margin:15px;
    margin-bottom: 10px;
    height: 180px;
    width: 120px;
}

.responsive-image{
    width:100px;
    height:100px;
    margin-top:30px;
}


 }*/
 
 
